.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.card{
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover{
  transform: scale(1.05);
}

.card img{
  width: 100%;
  border-radius: 8px;
}

.closecircle{
    border: 1px solid orangered;
    width: 22px;
    height: 23px;
    border-radius: 50px; 
}
#container{
    background-image: url('./ChatGPT\ Image\ Nov\ 17\,\ 2025\,\ 07_33_49\ PM.png' );
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#searchInput{
    margin-top: 120px;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
}
#searchbtn{
    border: 1px solid rgb(250, 246, 244);
    width: 33px;
    height: 33px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: rgb(226, 97, 33);
    text-align: center;
    padding: 5px;
    margin-left: 10px;

}
#container,h1{
color: #fff;
font-weight: bold;
}
/*
.categories{
margin:50px 20px;
}
#subhead
{
font-size:22px;
font-weight:bold;

}
.line
{
width:80px;
height:3px;
background:orangered;
margin-top:5px;
}
.category-cards{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
padding:20px;
}
.card
{
width:200px;
background:#fff;
padding:10px;
border-radius:10px;
text-align:center;
cursor:pointer;
box-shadow:0 3px 6px rgba(0,0,0,0.1);
}
.card img
{
width:100%;
border-radius:10px;
}

#results
{
display:flex;
flex-wrap:wrap;
gap:30px;
justify-content:center;
margin-top:30px;
}
.meal-card
{
width:400px;
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 3px 6px rgba(0,0,0,.1);
}
.meal-card img
{
width:100%;
border-radius:10px;
}*/
.category-section {
    margin: 30px;
}

.category-section h2 {
    font-size: 26px;
    margin-bottom: 5px;
}

.line {
    width: 80px;
    height: 3px;
    background: #e94e1b;
    margin-bottom: 20px;
}

.categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 0 40px;
}

.card {
    width: 250px;
    background: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
}
.card .tag{
    height: 10px;
    width: 70px;
    margin-left: 100px;
    background: #e94e1b;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 14px;
}
/*.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}*/
